In [1]:
import pandas as pd
import numpy as np

file_name = 'Energy Indicators.xls'

def read_energy_indicators(file_name):
	energy = pd.read_excel(file_name, header=None, skiprows=17, usecols='C:F', nrows=228)
	energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

	energy.replace('...', np.NaN, inplace=True)
	energy['Energy Supply'] *= 1000000
	energy.loc[0, 'Energy Supply'] = 'Gigajoules'

	return energy

energy = read_energy_indicators(file_name)
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,NaN,Gigajoules,Gigajoules,%
1,Afghanistan,321000000,10,78.66928
2,Albania,102000000,35,100
3,Algeria,1959000000,51,0.55101
4,American Samoa,NaN,NaN,0.641026
...,...,...,...,...
223,Viet Nam,2554000000,28,45.32152
224,Wallis and Futuna Islands,0,26,0
225,Yemen,344000000,13,0
226,Zambia,400000000,26,99.71467
227,Zimbabwe,480000000,32,52.53612

In [2]:
def change_countries():
	original_energy = energy.copy()
	energy['Country'] = energy['Country'].str.replace(r'\s?\(\S.*\)|\d+', '', regex=True)

	energy['Country'] = energy['Country'].replace({
		'Republic of Korea': 'South Korea',
		'United States of America': 'United States',
		'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
		'China, Hong Kong Special Administrative Region': 'Hong Kong'
	})

	changed_values = original_energy['Country'].compare(energy['Country'])
	return changed_values

print(change_countries())

                                                  self  \
12                                          Australia1
25                    Bolivia (Plurinational State of)
43                                              China2
44     China, Hong Kong Special Administrative Region3
45         China, Macao Special Administrative Region4
59                                            Denmark5
71                         Falkland Islands (Malvinas)
74                                             France6
84                                          Greenland7
98                                          Indonesia8
99                          Iran (Islamic Republic of)
104                                             Italy9
106                                            Japan10
112                                           Kuwait11
134                   Micronesia (Federated States of)
144                                      Netherlands12
162                                         Portugal13
165                                  Republic of Korea
178                                     Saudi Arabia14
180                                           Serbia15
184                          Sint Maarten (Dutch part)
191                                            Spain16
198                                      Switzerland17
213                                          Ukraine18
215  United Kingdom of Great Britain and Northern I...
217                         United States of America20
222                 Venezuela (Bolivarian Republic of)

                                          other
12                                    Australia
25                                      Bolivia
43                                        China
44                                    Hong Kong
45   China, Macao Special Administrative Region
59                                      Denmark
71                             Falkland Islands
74                                       France
84                                    Greenland
98                                    Indonesia
99                                         Iran
104                                       Italy
106                                       Japan
112                                      Kuwait
134                                  Micronesia
144                                 Netherlands
162                                    Portugal
165                                 South Korea
178                                Saudi Arabia
180                                      Serbia
184                                Sint Maarten
191                                       Spain
198                                 Switzerland
213                                     Ukraine
215                              United Kingdom
217                               United States
222                                   Venezuela

In [3]:
file2_name = 'world_bank.csv'
GPD = pd.read_csv(file2_name, skiprows=4)
GPD

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,...,8.982778e+11,8.289428e+11,9.729989e+11,1.012306e+12,1.009721e+12,9.333918e+11,1.085745e+12,1.191423e+12,1.245472e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,...,7.717669e+11,6.943610e+11,6.878492e+11,7.704950e+11,8.264838e+11,7.898017e+11,8.493124e+11,8.839739e+11,7.991060e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.482465e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.467098e+11,3.235855e+11,3.814488e+11,4.052607e+11,3.893300e+11,3.379747e+11,4.208869e+11,4.069200e+11,3.806993e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,6.987397e+08,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,...,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.996312e+10,2.054868e+10,5.107466e+10,3.415607e+10,2.571741e+10,2.686794e+10,2.724052e+10,3.278975e+10,3.523137e+10,NaN

In [5]:
def change_countries_GPD():
	original_GPD = GPD.copy()
	GPD['Country Name'] = GPD['Country Name'].replace({
		'Korea, Rep.': 'South Korea',
		'Iran, Islamic Rep.': 'Iran',
		'Hong Kong SAR, China': 'Hong Kong'
	})
	changed_values = original_GPD['Country Name'].compare(GPD['Country Name'])
	return changed_values
print(change_countries_GPD())

                     self        other
96   Hong Kong SAR, China    Hong Kong
112    Iran, Islamic Rep.         Iran
126           Korea, Rep.  South Korea

In [6]:
file3_name = 'Sciamgo Journal and Country Rank.xlsx'
ScimEn = pd.read_excel(file3_name)
ScimEn

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,402188,400158,5077232,3511673,12.62,343
1,2,United States,Northern America,208042,203356,3540288,1004877,17.02,458
2,3,India,Asiatic Region,81853,79757,968523,369256,11.83,237
3,4,Japan,Asiatic Region,58342,57735,717946,154848,12.31,228
4,5,United Kingdom,Western Europe,56288,54713,1095371,179764,19.46,293
...,...,...,...,...,...,...,...,...,...
208,209,Marshall Islands,Pacific Region,1,1,0,0,0.00,0
209,210,Grenada,Latin America,1,1,20,0,20.00,1
210,211,Montserrat,Latin America,1,1,8,0,8.00,1
211,212,Christmas Island,Pacific Region,1,1,0,0,0.00,0
212,213,CuraÃ§ao,Latin America,1,1,2,0,2.00,1

In [7]:
GPD.rename(columns={'Country Name': 'Country'}, inplace=True)
def answer_one():
	top15 = ScimEn[ScimEn['Rank'] <= 15]
	years = GPD[['Country'] + [str(year) for year in range(2006, 2016)]]

	merged_data = pd.merge(top15, energy, on='Country', how='inner')
	merged_data = pd.merge(merged_data, years, on='Country', how='inner')

	merged_data.set_index('Country', inplace=True)


	return merged_data.head(15)
answer_one()

,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,,
China,1,Asiatic Region,402188,400158,5077232,3511673,12.62,343,127191000000,93,...,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,2,Northern America,208042,203356,3540288,1004877,17.02,458,90838000000,286,...,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13
India,3,Asiatic Region,81853,79757,968523,369256,11.83,237,33195000000,26,...,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12
Japan,4,Asiatic Region,58342,57735,717946,154848,12.31,228,18984000000,149,...,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,Western Europe,56288,54713,1095371,179764,19.46,293,7920000000,124,...,2.708442e+12,3.090510e+12,2.929412e+12,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12
Germany,6,Western Europe,50906,49773,777362,160302,15.27,252,13261000000,165,...,3.046309e+12,3.484057e+12,3.808786e+12,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12
Russian Federation,7,Eastern Europe,46186,45868,217996,96688,4.72,112,30709000000,214,...,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,Northern America,41209,40390,915491,142691,22.22,284,10431000000,296,...,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,Western Europe,38700,36909,639473,147302,16.52,209,6530000000,109,...,1.958564e+12,2.222524e+12,2.417508e+12,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12
South Korea,10,Asiatic Region,38362,38046,618762,105419,16.13,198,11007000000,221,...,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.143672e+12,1.253290e+12,1.278047e+12,1.370633e+12,1.484489e+12,1.466039e+12
Iran,11,Middle East,32080,31725,634135,177894,19.77,198,9172000000,119,...,2.656022e+11,3.497366e+11,4.060709e+11,4.140591e+11,4.870696e+11,6.290823e+11,6.440193e+11,5.003998e+11,4.622848e+11,4.091917e+11
France,12,Western Europe,30810,30139,547122,89958,17.76,221,10597000000,166,...,2.317862e+12,2.655817e+12,2.926803e+12,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12
Spain,13,Western Europe,29840,29156,614087,104845,20.58,216,4923000000,106,...,1.261847e+12,1.476746e+12,1.636115e+12,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12
Australia,14,Pacific Region,27993,27254,608021,84747,21.72,234,5386000000,231,...,7.484176e+11,8.550075e+11,1.056112e+12,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12
Brazil,15,Latin America,27316,26888,307607,71778,11.26,154,12149000000,59,...,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12

In [8]:
merged = answer_one()
merged.columns

Index(['Rank', 'Region', 'Documents', 'Citable documents', 'Citations',
       'Self-citations', 'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [9]:
def answer_two():
	columns = [str(year) for year in range(2006, 2016)]
	avgGPD = merged[columns].mean(axis=1, skipna=True)
	return avgGPD.sort_values(ascending=False)
answer_two()

Country
United States         1.572243e+13
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.590729e+12
United Kingdom        2.777505e+12
France                2.692000e+12
Italy                 2.152983e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.406644e+12
South Korea           1.221328e+12
Australia             1.207997e+12
Iran                  4.567516e+11
dtype: float64

In [10]:
avgGPD = answer_two()
def answer_three():
	return merged.loc[avgGPD.index[5], '2015']  - merged.loc[avgGPD.index[5], '2006']
answer_three()

124621907951.68018

In [11]:
def answer_four():
	merged['Ratio'] = merged['Self-citations'] / merged['Citations']
	max_ratio = merged['Ratio'].max()
	country_max_ratio = merged['Ratio'].idxmax()
	return (country_max_ratio, max_ratio)
answer_four()

('China', 0.6916510807463594)

In [12]:
def answer_five():
	merged['Estimated Population'] = merged['Energy Supply'] / merged['Energy Supply per Capita']
	estimated_pop = merged['Estimated Population'].sort_values(ascending=False)
	return str(estimated_pop.index[2])
answer_five()

'United States'

In [13]:
def answer_six():
	merged['Citable Doc per Person'] = merged['Citable documents'] / merged['Estimated Population']
	correlation = merged['Citable Doc per Person'].corr(merged['Energy Supply per Capita'])
	return correlation
answer_six()

0.7019601723071188

In [14]:
ContinentDict  = {'China':'Asia', 
	'United States':'North America', 
	'Japan':'Asia', 
	'United Kingdom':'Europe', 
	'Russian Federation':'Europe', 
	'Canada':'North America', 
	'Germany':'Europe', 
	'India':'Asia',
	'France':'Europe', 
	'South Korea':'Asia', 
	'Italy':'Europe', 
	'Spain':'Europe', 
	'Iran':'Asia',
	'Australia':'Australia', 
	'Brazil':'South America'}
def answer_seven():
  merged['Continent'] = merged.index.map(ContinentDict)
  df = merged.groupby('Continent')['Estimated Population'].agg(['size', 'sum', 'mean', 'std'])

  return df
answer_seven()

               size               sum              mean           std
Continent
Asia              5   2898666386.6106   579733277.32212  6.790979e+08
Australia         1   23316017.316017   23316017.316017           NaN
Europe            6  457929667.216372   76321611.202729  3.464767e+07
North America     2   352855249.48025  176427624.740125  1.996696e+08
South America     1  205915254.237288  205915254.237288           NaN